<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div id="post-nav" class="clearfix">
		{% if page.next.url and page.next.title != "Your test project title" %} 
		<a class="prev" href="{{page.next.url}}">Previous
		<span>
			{{page.next.cover}}
		</span>
		</a> 
		{% endif %} 
		<div class="all-project">
			<a href="{{site.url}}/work">Back to work</a>
		</div>
		{% if page.next.url and page.next.title != "Development Check" %} 
		<a class="next" href="{{page.previous.url}}">Next</a> 
		{% endif %} 
	</div>
	<!--	<div class="top-navigation morph-button morph-button-modal morph-button-modal-4 morph-button-fixed navigation">-->
	<div class="top-navigation navigation">
		<div class="trigger inactive">
			<div class="trigger-wrap">	
				<div class="bar">
					<span class="icon-bar top"></span>
					<span class="icon-bar middle"></span>
					<span class="icon-bar bottom"></span>
				</div>
				<div class="menu">Menu</div>
			</div>
		</div>
		<!--		<div class="navigation-wrap morph-content">-->
		<div class="navigation-wrap">
			<!--			<span class="icon icon-close"><span>Menu</span></span>-->
			<div class="site-name">
				<a href="{{ site.url }}">{{ site.title }}</a>
			</div><!-- /.site-name -->
			<nav role="navigation" id="site-nav" class="nav">
				<ul>
					{% for link in site.links %}
					<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
			<div class="impact-projects">
				<div class="impact-title">our impact</div>
				<ul>
					<li><a href="{{ site.url }}/work/fight-violence-against-women"><img src="{{ site.url }}/images/impact/impact-img-1.png"></a>
						<div class="info">
							<div class="info-title">
								FightVaw
							</div>
							<a href="{{ site.url }}/work/fight-violence-against-women" class="button work-btn view-btn"><span class="see-work">View project</span><span class="progress"></span></a>
						</div>
						<div class="impact-project-title">
							<a href="{{ site.url }}/work/fight-violence-against-women">FightVaw</a>
						</div>
					</li>
					<li><a href="{{ site.url }}/work/devcheck"><img src="{{ site.url }}/images/impact/impact-img-2.png"></a>
						<div class="info">
							<div class="info-title">
								Development check
							</div>
							<a href="{{ site.url }}/work/devcheck" class="button work-btn view-btn"><span class="see-work">View project</span><span class="progress"></span></a>
						</div>
						<div class="impact-project-title">
							<a href="{{ site.url }}/work/devcheck">Development check</a>
						</div>
					</li>
					<li><a href="{{ site.url }}/work/aidstream"><img src="{{ site.url }}/images/impact/impact-img-3.png"></a>
						<div class="info">
							<div class="info-title">
								AidStream
							</div>
							<a href="{{ site.url }}/work/aidstream" class="button work-btn view-btn"><span class="see-work">View project</span><span class="progress"></span></a>
						</div>
						<div class="impact-project-title">
							<a href="{{ site.url }}/work/aidstream">AidStream</a>
						</div>
					</li>
					<li><a href="{{ site.url }}/work/open-nepal"><img src="{{ site.url }}/images/impact/impact-img-4.png"></a>
						<div class="info">
							<div class="info-title">
								Open Nepal
							</div>
							<a href="{{ site.url }}/work/open-nepal" class="button work-btn view-btn"><span class="see-work">View project</span><span class="progress"></span></a>
						</div>
						<div class="impact-project-title">
							<a href="{{ site.url }}/work/open-nepal">Open Nepal</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
