<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

{{ content }}

<div id="work">
  {% for post in site.categories.work %}    
  <article>
      <h2 class="link-post">{{ post.title }}</h2>
      <p>{% if post.content %}{{ post.content }}{% endif %}</p>
    {% if post.link %}
      <a href="{{ post.link }}" target="_blank" title="{{ post.title }}">[ View site ]</a>
    {% endif %}
    {% if post.caselink %}
      <a href="{{ post.caselink }}" title="{{ post.caselink }}">[ View case ]</a>
    {% endif %}
    <div>
    {% if post.image.feature%}
      <img src="{{ site.url }}/images/{{ post.image.feature }}">
    {% endif %}    
    </div>
  </article>
  {% endfor %}
</div><!-- /#index -->

<div id="contact">
<iframe width="400" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=85.31981080770493%2C27.66889606210666%2C85.3215891122818%2C27.670250081457215&amp;layer=mapnik&amp;marker=27.66957307387917%2C85.32070130109787" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=27.66957&amp;mlon=85.32070#map=19/27.66957/85.32070&amp;layers=N">View Larger Map</a></small>
</div>

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
