<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
</head>

<body class="post">

  {% include _browser-upgrade.html %}

  {% include _navigation.html %}


  <div id="main" role="main">
    <!--
<div id="post-nav" class="clearfix">
{% if page.previous.url and page.previous.title != "Your awesome project title" %} 
<a class="prev" href="{{page.previous.url}}">Previous</a> 
{% endif %} 
<div class="all-project">
<a href="{{site.url}}/work">Back to work</a>
</div>
{% if page.next.url %} 
<a class="next" href="{{page.next.url}}">Next</a> 
{% endif %} 
</div>
-->
    {% if page.image.feature %}
    <div class="image-wrap">
      <img src=
           {% if page.image.feature contains 'http://' %}
           "{{ page.image.feature }}"
           {% elsif page.image.feature contains 'https://' %}
           "{{ page.image.feature }}"
           {% else %}
           "{{ site.url }}/images/{{ page.image.feature }}"
           {% endif %}
           alt="{{ page.title }} feature image">
      {% if page.image.credit %}
      <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
      {% endif %}
    </div><!-- /.image-wrap -->
    {% endif %}

    <article>
      <div class="work-article-layout">
        <div class="headline-wrap layout">
          {% if page.link %}
          <h1>{{ page.impact }}</h1>
          <div class="impact-line layout">
            {{ page.title }}
          </div>
          {% else %}
          <!--          <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>-->
          <h1>{{ page.title }}</h1>
          {% endif %}
        </div><!--/ .headline-wrap -->
        <div class="article-wrap work-detail-wrap">
          {{ content }}

        </div><!-- /.article-wrap -->
      </div>
    </article>
  </div><!-- /#main -->

  <div class="footer-wrap">
    <footer class="layout">
      {% include _footer.html %}
    </footer>
  </div><!-- /.footer-wrap -->

  {% include _scripts.html %}	        

</body>
</html>