<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
</head>

<body class="post-index">

  {% include _browser-upgrade.html %}

  {% include _navigation.html %}

  {% if page.image.feature %}
  <div class="image-wrap">
    <img src=
         {% if page.image.feature contains 'http://' %}
         "{{ page.image.feature }}"
         {% elsif page.image.feature contains 'https://' %}
         "{{ page.image.feature }}"
         {% else %}
         "{{ site.url }}/images/{{ page.image.feature }}"
         {% endif %}
         alt="{{ page.title }} feature image">
    {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
    {% endif %}
  </div><!-- /.image-wrap -->
  {% endif %}

  <div id="index" class="work-wrapper">
    <div class="tagline-wrapper">
      <div class="tagline layout">
        We work with clients and partners from different parts of the globe. 
      </div>
    </div>
    <div class="logo-wrapper layout">
      <ul>
        <li><img src="{{ site.url }}/images/work/partners/worldbank-logo.png" alt="World Bank" title="World Bank"><img src="{{ site.url }}/images/work/partners/worldbank-logo@2x.png" alt="World Bank" title="World Bank" class="small" width="46" height="46"></li>
        <li><img src="{{ site.url }}/images/work/partners/samarth-logo.png" alt="Samarth" title="Samarth" width="158" height="38"><img src="{{ site.url }}/images/work/partners/samarth-logo@2x.png" alt="Samarth" title="Samarth" class="small" width="158" height="38"></li>
        <li><img src="{{ site.url }}/images/work/partners/culinary-logo.png" alt="Culinary Arts" title="Culinary Arts"><img src="{{ site.url }}/images/work/partners/culinary-logo@2x.png" alt="Culinary Arts" title="Culinary Arts" class="small" width="115" height="92"></li>
        <li><img src="{{ site.url }}/images/work/partners/integrity-logo.png" alt="Integrity Action" title="Integrity Action"><img src="{{ site.url }}/images/work/partners/integrity-logo@2x.png" alt="Integrity Action" title="Integrity Action" class="small" width="90" height="67"></li>
        <li><img src="{{ site.url }}/images/work/partners/nbi-logo.png" alt="National Banking Institute" title="National Banking Institute"><img src="{{ site.url }}/images/work/partners/nbi-logo@2x.png" alt="National Banking Institute" title="National Banking Institute" class="small" width="92" height="65"></li>
        <li><img src="{{ site.url }}/images/work/partners/un-logo.png" alt="United Nations" title="United Nations"><img src="{{ site.url }}/images/work/partners/un-logo@2x.png" alt="United Nations" title="United Nations" class="small" width="146" height="50"></li>
        <li><img src="{{ site.url }}/images/work/partners/united-logo.png" alt="United Distributors Nepal" title="United Distributors Nepal"><img src="{{ site.url }}/images/work/partners/united-logo@2x.png" alt="United Distributors Nepal" title="United Distributors Nepal" class="small" width="111" height="51"></li>
        <li><img src="{{ site.url }}/images/work/partners/rap3-logo.png" alt="Rural Access Programme" title="Rural Access Programme"><img src="{{ site.url }}/images/work/partners/rap3-logo@2x.png" alt="" class="small" width="90" height="27" alt="Rural Access Programme" title="Rural Access Programme"></li>
        <li><img src="{{ site.url }}/images/work/partners/paf-logo.png" alt="Poverty Alleviation Fund Nepal" title="Poverty Alleviation Fund Nepal"><img src="{{ site.url }}/images/work/partners/paf-logo@2x.png" alt="" class="small" width="128" height="96"></li>
        <li><img src="{{ site.url }}/images/work/partners/ncell-logo.png" alt="Ncell" title="Ncell"><img src="{{ site.url }}/images/work/partners/ncell-logo@2x.png" alt="Ncell" title="Ncell" class="small" width="121" height="40"></li>
        <li><img src="{{ site.url }}/images/work/partners/icimod-logo.png" alt="Icimod" title="Icimod"><img src="{{ site.url }}/images/work/partners/icimod-logo@2x.png" alt="Icimod" title="Icimod" class="small" width="133" height="38"></li>
        <li><img src="{{ site.url }}/images/work/partners/therecord-logo.png" alt="The Record" title="The Record"><img src="{{ site.url }}/images/work/partners/therecord-logo@2x.png" alt="The Record" title="The Record" class="small" width="120" height="19"></li>
        <li><img src="{{ site.url }}/images/work/partners/dev-initiatives-logo.png" alt="Development Initiatives" title="Development Initiatives"><img src="{{ site.url }}/images/work/partners/dev-initiatives-logo@2x.png" alt="Development Initiatives" title="Development Initiatives" class="small" width="150" height="36"></li>
        <li><img src="{{ site.url }}/images/work/partners/infodev-logo.png" alt="InfoDev" title="InfoDev"><img src="{{ site.url }}/images/work/partners/infodev-logo@2x.png" alt="InfoDev" title="InfoDev" class="small" width="105" height="54"></li>
        <li><img src="{{ site.url }}/images/work/partners/trust-logo.png" alt="Trust For Nature" title="Trust For Nature"><img src="{{ site.url }}/images/work/partners/trust-logo@2x.png" alt="Trust For Nature" title="Trust For Nature" class="small" width="68" height="68"></li>
        <li><img src="{{ site.url }}/images/work/partners/sarwanam-logo.png" alt="Sarwanam" title="Sarwanam"><img src="{{ site.url }}/images/work/partners/sarwanam-logo@2x.png" alt="Sarwanam" title="Sarwanam" class="small" width="146" height="40"></li>
        <li><img src="{{ site.url }}/images/work/partners/inclusive-logo.png" alt="Centre for Inclusive Growth" title="Centre for Inclusive Growth"><img src="{{ site.url }}/images/work/partners/inclusive-logo@2x.png" alt="Centre for Inclusive Growth" title="Centre for Inclusive Growth" class="small" width="145" height="38"></li>
      </ul>
    </div>
    <div id="work layout">
      <div class="layout work-tagline">We provide innovative solutions in the areas of <a href="{{ site.url }}/ourstory/#data-innovations">Data Innovations</a>, <a href="{{ site.url }}/ourstory/#technology-innovations">Technology Innovations</a>, <a href="{{ site.url }}/ourstory/#product-innovations">Product Innovations</a> and <a href="{{ site.url }}/ourstory/#community-innovations">Community Innovations</a>.</div>
      <div class="layout work-article-wrap">
        {% for post in site.categories.work %} 

        <article>
          <div class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
            <div class="link-article">
              {% if post.image.cover %}
              <img src="{{ site.url }}/images/{{ post.image.cover }}">
              <div class="info">
                <a href="{{ site.url }}{{ post.url }}" class="button work-btn view-btn"><span class="see-work">View project</span><span class="progress"></span></a>
              </div>
              {% endif %} 
            </div>
            <h3 class="portfolio-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
            </a><div>

            <div>
            </div>
            </article>
            {% endfor %}
          </div><!-- /#index -->
          </div>   
        <div class="footer-wrap">
          <footer class="layout">
            {% include _footer.html %}
          </footer>
        </div><!-- /.footer-wrap -->

        {% include _scripts.html %}

        </body>
      </html>