<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
</head>

<body class="post-index">

  {% include _browser-upgrade.html %}

  {% include _navigation.html %}

  {% if page.image.feature %}
  <div class="image-wrap">
    <img src=
         {% if page.image.feature contains 'http://' %}
         "{{ page.image.feature }}"
         {% elsif page.image.feature contains 'https://' %}
         "{{ page.image.feature }}"
         {% else %}
         "{{ site.url }}/images/{{ page.image.feature }}"
         {% endif %}
         alt="{{ page.title }} feature image">
    {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
    {% endif %}
  </div><!-- /.image-wrap -->
  {% endif %}

  <div id="index" class="work-wrapper">
    <div class="tagline-wrapper">
      <div class="tagline">
        We work with clients and partners from different parts of the globe. 
      </div>
    </div>
    <div class="logo-wrapper">
      <ul>
        <li><img src="../images/work/worldbank-logo.png" alt=""></li>
        <li><img src="../images/work/therecord-logo.png" alt=""></li>
        <li><img src="../images/work/samarth-logo.png" alt=""></li>
        <li><img src="../images/work/culinary-logo.png" alt=""></li>
        <li><img src="../images/work/integrity-logo.png" alt=""></li>
        <li><img src="../images/work/un-logo.png" alt=""></li>
        <li><img src="../images/work/icimod-logo.png" alt=""></li>
        <li><img src="../images/work/inclusive-logo.png" alt=""></li>
      </ul>
    </div>
    <div id="work">
      <div class="work-tagline">We provide innovative solutions in the areas of <a href="">open development</a>, integrated <a href="">mobile solutions</a> and <a href="">web development</a>.</div>
      <div class="work-article-wrap">
       {% for post in site.categories.work %} 

        <article>

          <div class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
            {% if post.image.feature %}
            <img src="{{ site.url }}/images/{{ post.image.feature }}">
            {% endif %} 
            <h3 class="portfolio-title">{{ post.title }}</h3>
            </a><div>
            <!-- <p>{% if post.content %}{{ post.content }}{% endif %}</p> -->
            <!--
{% if post.link %}
<a href="{{ post.link }}" target="_blank" title="{{ post.title }}">[ View site ]</a>
{% endif %}
{% if post.caselink %}
<a href="{{ post.caselink }}" title="{{ post.caselink }}">[ View case ]</a>
{% endif %}
-->
            <div>
              <!--     {% if post.image.feature%}
<img src="{{ site.url }}/images/{{ post.image.feature }}">
{% endif %}    
-->    </div>
            </article>
            {% endfor %}
          </div><!-- /#index -->
          </div>   
        <div class="footer-wrap">
          <footer>
            {% include _footer.html %}
          </footer>
        </div><!-- /.footer-wrap -->

        {% include _scripts.html %}

        </body>
      </html>